h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 22px;
}

hr {
  border-top: 1px solid #e2e2e2;
}

.main {
  margin-top: 75px;
}

.back-btn {
  position: relative;
  top: 25px;
  right: 15px;
  z-index: 100;
  opacity: 0.65;
}
.back-btn:hover {
  opacity: 1.0;
}

.create-btn {
  margin-bottom: 22px;
}

.single-post-heading {
  margin-bottom: 33px;
}

.single-cover {
  width: 100%;
  top: -25px;
  position: relative;
  border-radius: 5px;
}

.list-item-cover {
  width: 100%;
}

.p-0 {
  padding: 0;
}

.edit-section {
  height: 33px;
}

.comments-container {
  margin-bottom: 100px;
}

.dashboard-container {
  background: #fff;
  padding: 22px;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.location-dropdown-menu {
  min-width: 70px;
  padding: 5px;
}
.location-dropdown-menu .dropdown-item {
  margin: 10px 0;
  display: inline-block;
}